<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>新規登録</title>
  </head>
  <body>
    <h2>新規登録</h2>
    <span th:text="${errorMsg}"></span>
    <form th:action="@{/admin/signup}" method="post" th:object="${signupForm}">
      <div>
        <label>姓</label>
        <input type="text" th:field="*{lastName}" />
      </div>
      <div>
        <label>名</label>
        <input type="text" th:field="*{firstName}" />
      </div>
      <div>
        <label>メールアドレス</label>
        <input type="text" th:field="*{email}" />
      </div>
      <div>
        <label>パスワード</label>
        <input type="password" th:field="*{password}" />
      </div>
      <div>
        <input type="submit" value="登録する" />
      </div>
    </form>
    <a th:href="@{/admin/signin}">ログインはこちら</a>
  </body>
</html>
